@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "_header";

$degrade: -webkit-linear-gradient(right,#b3362e,#f54141);

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
}

/*GRID LAYOUT*/
body {
    background-color: #c70707;
    background-image: -webkit-linear-gradient(left,#f7574b,#f54141);
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
    min-height: auto;
    h3 {
        color: #fff9f9;
        font-weight: bold;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        text-shadow: 0 -1px 4px rgb(46, 28, 28), 0 0px 1px #fff, 0 1px 1px #f39999, 0px -2px 0px rgb(163, 160, 160), 0px 0px 1px rgba(208, 30, 30, 0);
        padding-left: 1.5rem;
        text-align: left;
    }
}

/* SECCION PRINCIPAL INDEX*/

main {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/cancha-para-la-web.jpg);
    background-size: cover;
}

/*SECCION PRINCIPAL TIENDA */
.shop {
    background-image: $degrade;
}

#tienda {
    flex-direction: row;
    min-height: 90vh;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECCION PRINCIPAL HISTORIA*/
.history {
    background-image: $degrade;
}

.historia {
    background-color: rgba(156, 146, 135, 0.205);
    padding: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.233);
    overflow: hidden;
    margin: 1%;
    p {
        color: hsl(0, 0%, 100%);
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 4px #1a0f0f;
        text-align: left;
    }
}

/* SECCION PRINCIPAL NOTICIAS*/

.noticia {
    background-image: $degrade;
    h2 {
        color: #fff9f9;
        word-spacing: 0.5rem;
        font-weight: bold;
        font-size: 7rem;
        letter-spacing: 0.05rem;
        text-shadow: 0 -1px 4px rgb(46, 28, 28), 0 0px 1px #fff, 0 1px 1px #f39999, 0px -2px 0px rgb(163, 160, 160), 0px 0px 1px rgba(208, 30, 30, 0);
        text-align: left;
    }
}

.nota {
    background-color: rgba(12, 11, 10, 0.205);
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    p {
        color: hsl(0, 0%, 100%);
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 4px #1a0f0f;
        text-align: left;
    }
    span {
        color: hsl(0, 0%, 100%);
        background-color: rgba(252, 55, 55, 0.582);
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
        text-shadow: 0px 2px 4px #1a0f0f;   
    }
}


/*SECCION PRINCIPAL ESTADISTICAS */

.stats {
    background-image: $degrade;
}

table, th, td {
        border: 1px solid;
      }

/* PRINCIPAL INDEX*/
.principal {
    color: white;
    margin-top: 2%;
    margin-left: 4%;
    padding: 2%;
    background-color: rgba(12, 11, 10, 0.205);
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    width: 50%;
    overflow-wrap: break-word;
    float: left;
    text-align: center;
    h2 {
        color: #fff9f9;
        word-spacing: 0.5rem;
        font-weight: bold;
        font-size: 10vh;
        letter-spacing: 0.19rem;
        text-shadow: 0 -1px 4px rgb(8, 5, 5), 0 0px 1px #fff, 0 1px 1px #ffffff, 0px -2px 0px rgb(163, 160, 160), 0px 0px 1px rgba(208, 30, 30, 0);
        padding-left: 1.5rem;
        margin-top: -20%;
        margin-bottom: 2%;
        text-align: left;
    }
    p {
        color: hsl(0, 0%, 100%);
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 4px #1a0f0f;
        text-align: left;
    }
    span {
        color: hsl(0, 0%, 100%);
        background-color: rgba(252, 55, 55, 0.582);
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
        text-shadow: 0px 2px 4px #1a0f0f;   
    }
}
      
#novedad {
    width: 80%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    border: 0.0.9rem solid rgba(0, 0, 0, 0.753);
    border-radius: 3px 3px 3px 3px;
}

.side {
    float: right;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    width: 22vw;
}

/* ULTIMO RESULTADO */
.ultimo__resultado {
    background-image: url(../images/ultimo-partido.jpg);
    background-size: cover;
    background-position-y: 55%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    border: 3px outset rgba(158, 20, 20, 0.55);
    border-radius: 7px 10px 10px 10px;
    text-align: center;
        h3 {
        color: #fff9f9;
        word-spacing: 6px;
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
        padding-top: 0.7rem;
        letter-spacing: 0.5px;
        text-shadow: 0px 2px 4px #1a0f0f;
    }
    span {
        color: #fff9f9;
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 4px #1a0f0f;
        font-weight: bold;
    }
}

/* VIDEO */
.ultimo__media {
    p {
        margin-bottom: 0;
        color: #fff9f9;
        background-color: #e7111148;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 0.05rem;
        text-shadow: 0px 2px 20px #1a0f0f;
        font-weight: bold;
    }
}

#video-lastgame {
    width: 100%;
    height: auto;
}

/* PROXIMO PARTIDO */
.proximo__partido {
    position: relative;
    background-color: rgba(245, 245, 245, 0.555);
    background-size: cover;
    background-position-y: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    border: 3px outset rgba(158, 20, 20, 0.55);
    border-radius: 7px 10px 10px 10px;
    text-align: center;
    span {
        color: #fff9f9;
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 4px #1a0f0f;
        font-weight: bold;
        text-align: left;
    }
}

.proximo img {
    width: 14%;
}

/* FOOTER*/

.copyright {    
    display: flex;
    text-align: center;
    background-color: #c70707;
    background-image: -webkit-linear-gradient(left,#ff0000,#c70707);
    color: #fff9f9f3;
    font-size: 0.8rem;
    border-top: 0.1rem groove #2b0d04;
    justify-content: center;
}

footer a {
    text-decoration: none;
    font-weight: 400;
    color: #fff9f9f3;
    &:hover {
        color: rgb(233, 209, 202);
    }
}